$primary1-color: #043873;
$primary2-color: #4F9CF9;
$secondary1: #FFE492;
$secondary2: #A7CEFC;
$secondary3: #FFFFFF;
$secondary4: #212529;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
}

@mixin transition-ease{
    transition: all 0.3s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%){
        @return #000;
    }@else {
        @return #fff;
    }
}


@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}
